@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
body {
    height: 100%;
}
img {
    width: 12vw;
}
.bookCardsImg{
    width: 10vw; 
    margin-left: auto;
    margin-right: auto

} 
.linkBook {
    color:black;
    text-decoration: none;
}
.cards{
    text-align: center; 
}
.blockBook {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4.1%;
    background-color: #fff;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    cursor: pointer;
    transition: 0.6s; 
    border-radius: 10px;
}
.blockBook:hover { 
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
    
} 
 .adaptive {
    flex: 1 1 auto;
 } 
  
.container {
    max-width: 1230px;
    width: 100%; 
    margin: 0 auto; 
} 

 
@media screen and (max-width: 1199px) {
    .blockBook{
        margin: 5.1%;
    }
    .bookCardsImg {
        width: 10vw;
    }
}
@media screen and (max-width: 998px) {
    .bookCardsImg {
        width: 15vw;
    }
    .blockBook{
        margin: 3.4%;
    }
}
@media screen and (max-width: 768px) {
    .bookCardsImg {
        width: 20vw;
    }
    .blockBook{
        margin: 6.1%;
    }
}
@media screen and (max-width: 576px) {
    .bookCardsImg {
        width: 25vw;
    }
    .blockBook {
        margin: 10.1%
    }
}
@media screen and (max-width: 385px) {
    .blockBook {
        margin: 15.1%;
    }
    .bookCardsImg {
        width: 30vw;
    }
}