.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
} 
.block { 
    width: 30%; 
    padding: 0 50px; 
    margin: 0;
} 

.process__subtitle {
    margin-bottom: 90px;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
}

.process__item {
    padding: 30px 0px 15px;
    height: 100%;
    min-height: 150px;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
} 
.info__title {
    text-align: center;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    border-radius: 100px;
}
@media screen  and (max-width: 1199px) { 
    .process__item {
        padding: 30px 0px 15px;
        height: 100%;
        min-height: 150px;
        background: #FFFFFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    } 
    
}
@media screen and (max-width: 998px) {
    .process__item {
        padding: 30px 0px 15px;
        height: 100%;
        min-height: 150px;
        background: #FFFFFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    } 
    .block {
        width: 45%;
        padding: 0px 50px;
        margin: 0px;
    }
}

@media screen and (max-width: 768px) {
    
    .process__item {
        padding: 30px 0px 15px;
        height: 100%;
        min-height: 150px;
        background: #FFFFFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    } 
    .block {
        width: 50%;
        padding: 0px 50px;
        margin: 0px;
    }
}
@media screen and (max-width: 498px) {
    
    .process__item {
        padding: 30px 0px 15px;
        height: 100%;
        min-height: 150px;
        background: #FFFFFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    } 
    .block { 
        margin-left: 5%;
        margin-top: 5%;
        height: auto;
        width: auto;
    } 
    .img {
        width: 20vw;
    }
    .wrapper {
        display: inline;  
        
    } 
    
}
 