img {
    width: 8vw;
    transition: 1s;
}

img:hover {
    transform: scale(0.9);
}

.cards {
    text-align: center;
    margin-top: 50px;
    transition: 1s;
}

.developments {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 20px;
}

.dev {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5%;
}

.populyar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.devHeader {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16%;
}

h5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.devs {
    display: flex;
    justify-content: center;
}

.cards_inner {
    margin-bottom: 50px;
}